{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/owl.carousel.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/owl.theme.default.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/jquery.fancybox.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/fontawesome.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/responsive.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/color.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/style.bundle.css' %}" />
<link rel="stylesheet" href="{% static 'assets/js/plugins/global/plugins.bundle.css' %}" />

