{% load static %}

<footer class="p-0 px-8 pt-8 bg-info">
    <div class="container">
      <div class="row ">
        <div class="d-flex d-flex flex-center col-md-4">
            <i class="text-warning fs-2x bi bi-envelope"></i>
          <div>
            <a href="mail:to:partygram@star.dev.br" class="ms-2 fs-3 text-white text-hover-danger">partygram@star.dev.br</a>
          </div>
        </div>
        <div class="d-flex flex-center col-md-4">
            <i class="text-warning bi bi-telephone-x fs-2x"></i>
          <div>
            <a class="ms-2 fs-3 text-white text-hover-danger" href="#">+55 (21) 96000-2387</a>
          </div>
        </div>
        <div class="col-md-4 d-flex flex-column mt-4">
            <label class="form-label text-white">Suporte: Envie seu email para que nós possamos te ajudar</label>
            <div class="d-flex flex-center">
                <input type="email" class="form-control m-0 rounded-0 rounded-start-2" placeholder="Seu e-mail">
                <button class="btn btn-danger rounded-0 rounded-end-2">Enviar</button>
            </div>
          </div>
      </div>
      <div class="footer-bottom">
        <div>
          <p><span>© 2025 PartyGram</span> | online partygram store.</p>
        </div>
        <ul>
          <li><a href="#"><i class="fa-brands text-white fs-3x text-hover-danger fa-instagram no-border"></i></a></li>
        </ul>
      </div>
    </div>
  </footer>
  <script>
    window.chatwootSettings = {"position":"left","type":"standard","launcherTitle":"Fale connosco"};
    (function(d,t) {
      var BASE_URL="https://chat.star.dev.br";
      var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src=BASE_URL+"/packs/js/sdk.js";
      g.defer = true;
      g.async = true;
      s.parentNode.insertBefore(g,s);
      g.onload=function(){
        window.chatwootSDK.run({
          websiteToken: 'z9s2Cpq9MZDZZP15GXrcuReW',
          baseUrl: BASE_URL
        })
      }
    })(document,"script");
  </script>
  