{% extends 'base.html' %} {% load static %}

{% block title %}Login - PartyGram{% endblock %}

{% block content %}

<section class="row d-flex flex-center mx-10 mt-2 mb-2">
  <img class="col-md-6" src="https://placehold.co/1440x790"></img>
  <div class="col-md-4">
    <div class="row">
      <img class="col-md-12" src="https://placehold.co/440x180"></img>
      <img class="col-md-12 pt-2" src="https://placehold.co/440x180"></img>
    </div>
  </div>
</section>
<section>
  <div class="container">
      <div class="d-flex row flex-center">
        <img class="col-md-6" alt="illustrtion" src="{% static 'assets/img/sigma/16.png' %}">
        <div class="col-md-6">
          <h1 class="fw-bold text-info fs-3x">Transforme sua Festa em um Evento Inesquecível!</h1>
          <p class="text-muted">Crie convites personalizados, gerencie convidados e compartilhe momentos especiais!</p>
          <a href="/cadastro" class="btn btn-lg btn-primary mt-3">Clique aqui e crie sua festa</a>
        </div>
      </div>
  </div>
</section>
<section class="row d-flex flex-center mt-6">
  <img class="col-md-10" src="https://placehold.co/1920x180"></img>
</section>
<section>
  <div class="container my-8">
      <div class="d-flex row flex-center">
        <div class="col-md-6">
          <h1 class="fw-bold text-info fs-2x">Seja um Influencer no <span class="text-danger">PartyGram</span></h1>
          <p class="text-muted fs-3">
             Envie seu contato e ganhe um <strong>cupom de desconto exclusivo</strong> para divulgar. 
          </p>
        </div>
        <div class="col-md-6">
          <div class="d-flex flex-center">
              <input type="email" class="form-control m-0 rounded-0 rounded-start-2" placeholder="Seu e-mail">
              <button class="btn btn-primary rounded-0 rounded-end-2">Enviar</button>
          </div>
        </div>
      </div>
  </div>
</section>


{% endblock %}